.header{
    grid-area: h;
    background-color: #283e4a;
    display: inherit;
}
.header img{
    width:80px;
}
.loginBlock {
 text-align:right;
    color: #6BBF45;

}
.loginBlock a {

}

/*#6BBF45*/
/*#283e4a*/