.nav {
    grid-area: n;
    background-color:  #E84A5F;
    text-align: -moz-left;
    padding: 20px;
    height: 100vh;
}

.item a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.item a.activeLink {
    color: white;
}
